@use '../../00-base/colors/colors' as dt;

.hoo-srchcard-link{
    color: currentColor;
    text-decoration: none;
}

.hoo-srchcard{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    background: url(var(--helloWOrld));
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem clamp(16px, 2.7vw, 32px);
    border: 1px dt.$neutral-300 solid;
    border-radius: 0.5rem;;
}

.hoo-srchcard-header{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: fit-content fit-content;
    gap: 0 1rem;
}
.hoo-srchcard-icon{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / span 2;
    border: 1px black solid;
}

.hoo-srchcard-title{
    font-weight: bold;
    margin: 0;
    color: #333;
    line-height: 1.25;
}

.hoo-srchcard-info{
    margin: 0;
    font-size: 0.875rem;
}

.hoo-srchcard-desc{
    height: 6lh;
    line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: balance;
    font-size: 1rem;
    margin: 0;
    margin-top: 0.5rem;
}
.hoo-srchcard-thumb{
    display: flex;
    width: clamp(160px, 33svw, 320px);
    height: auto;
    object-fit: cover;
    overflow: hidden;;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
}
.hoo-srchcard-img{
    height: auto;
    width: 100%;
    display: block;
    border-collapse: collapse;
    border: 0;
}
.template--listItem--thumbnailContainer{
    top: anchor(bottom)
}
.hoo-srchcard-popover{
    position: fixed;
    max-height: 100svh;
    max-width: 100svw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &::backdrop{
        background-color: rgb(0 0 0 / 10%);
    }
}
.hoo-srchcard-btn{
    display: flex;
    appearance: none;
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}
/* Transition for the popover itself */

// [popover]:popover-open {
//     opacity: 1;
//     transform: scaleX(1);
//   }
  
//   [popover] {
//     font-size: 1.2rem;
//     padding: 10px;
  
//     /* Final state of the exit animation */
//     opacity: 0;
//     transform: scaleX(0);
  
//     transition:
//       opacity 0.7s,
//       transform 0.7s,
//       overlay 0.7s allow-discrete,
//       display 0.7s allow-discrete;
//     /* Equivalent to
//     transition: all 0.7s allow-discrete; */
//   }
  
//   /* Needs to be after the previous [popover]:popover-open rule
//   to take effect, as the specificity is the same */
//   @starting-style {
//     [popover]:popover-open {
//       opacity: 0;
//       transform: scaleX(0);
//     }
//   }
  
//   /* Transition for the popover's backdrop */
  
//   [popover]::backdrop {
//     background-color: rgb(0 0 0 / 0%);
//     transition:
//       display 0.7s allow-discrete,
//       overlay 0.7s allow-discrete,
//       background-color 0.7s;
//     /* Equivalent to
//     transition: all 0.7s allow-discrete; */
//   }
  
//   [popover]:popover-open::backdrop {
//     background-color: rgb(0 0 0 / 25%);
//   }
  
//   /* The nesting selector (&) cannot represent pseudo-elements
//   so this starting-style rule cannot be nested */
  
//   @starting-style {
//     [popover]:popover-open::backdrop {
//       background-color: rgb(0 0 0 / 0%);
//     }
//   }